/* You can add global styles to this file, and also import other style files */


body {
  margin: 0px;
  padding: 0px;
  font-family: 'Monda', sans-serif;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: center !important;
}
